<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
        <img src="assets/img/A-64.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- active es la clase que permite que el boton se vea blaco como en relieve-->
            <li class="nav-item " routerLinkActive="active">
                <!-- El routerLink por lo general recibe un arreglo "['home','pages','1','3']" esto 
                    seria lo que se cargaria en la url de la sigueinte manera home/pages/1/3 -->
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>
            <!-- El nombre dentro de las llaves [routerLink]="['heroes']" hace referencia 
                al path creado en el docuemnto app.routes.ts -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">About</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar"(keyup.enter)="buscarHereo(inputBuscar.value)" #inputBuscar>
            <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="buscarHereo(inputBuscar.value)">Buscar</button>
        </form>

    </div>
</nav>